body {
  font-family: "Nunito Sans", sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.App h1 {
  text-align: center;
  color: rebeccapurple;
}

.timeline {
  max-width: 40rem;
  margin: 20px auto;
  padding: 10px;
  background: linear-gradient(135deg, #110e18, #341b3f, #562766);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 10px;
  object-fit: cover;
}

.post {
  background: linear-gradient(135deg, #110e18, #341b3f, #562766);
  margin: 20px 0;
  padding: 15px;
  border-radius: 8px;
  color: #bebec0;
  box-shadow: 1px 1px 10px rgba(103, 103, 104, 0.5);
}

.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.post-username {
  margin-left: auto;
}

.post-media {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post-video {
  width: 100%;
  height: auto;
  max-height: 400px;
  border-radius: 8px;
  background-color: black;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.post-video:focus,
.post-video:hover {
  outline: none;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}


.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.post-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.post-footer button {
  background: none;
  border: none;
  color: #737373;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  transition: transform 0.2s ease, color 0.2s ease;
}

.post-footer button.active {
  color: #e1306c;
}

.post-footer button:hover {
  transform: scale(0.9);
}

.post-footer svg {
  margin-right: 5px;
}

.post-images {
  border-radius: 8px;

}

.post-footer button:focus {
  outline: none;
}

.post-image {
  width: 100%;
  border-radius: 8px;
}

.post-comments {
  margin-top: 15px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}

.comment {
  display: flex;
  margin-top: 10px;
}

.comment-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment h4 {
  margin: 0;
}

.comment p {
  margin: 5px 0;
}

.timestamp {
  font-size: 12px;
  color: #777;
  margin-left: auto;
}

.add-comment {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.add-comment input {
  flex: 1;
  padding: 8px;
  border-radius: 20px;
  border: 1px solid #ddd;
  margin-right: 10px;
}

.add-comment button {
  background-color: #3b5998;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.add-comment button:hover {
  background-color: #2e4480;
}

.error-message {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
  padding: 2px;
}

.post-skeleton {
  padding: 10px;
  border: 1px solid #7d7d7d;
  border-radius: 8px;
  background-color: #cdcdcd;
}

.post-header-skeleton {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.post-media-skeleton {
  margin-bottom: 20px;
}

.post-footer-skeleton {
  display: flex;
  gap: 20px;
}


@media (max-width: 768px) {
  .timeline {
    max-width: 90%;
    padding: 10px;
  }

  .avatar {
    width: 40px;
    height: 40px;
  }

  .post-footer button {
    font-size: 14px;
  }

  .post-username {
    margin-left: 0;
    text-align: left;
  }

  .comment-avatar {
    width: 35px;
    height: 35px;
  }

  .add-comment input,
  .add-comment button {
    font-size: 14px;
  }
}